body {
  padding-top: 70px;
  background-color: #333333;
  color: #f2f2f2;
  text-shadow: 1px 1px black;
}
.darker{
  background-color:#1a1a1a;
  margin-bottom: 5px;
  border-radius: 5px;
  border: 1px solid #111111;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.lighter{
 background-color:#262626;
 margin-bottom: 5px;
 border-radius: 5px;
 border: 1px solid #111111;
 padding-left: 20px;
 padding-right: 20px;
 padding-top: 10px;
 padding-bottom: 10px;
}
.com-button
{
  padding-left: 0px;
}
.com-button>a{
  color:#9d9d9d;
}
.com-button>a:active{
  color:#f2f2f2;
}
.com-button>a:hover{
  text-decoration: none;
  color:#f2f2f2;
}
#shift{
  padding-top:0px;
}
#loggedShift{
  padding-top:0px;
}
/** Bootstrap Dark Modal Styles **/
.modal-open .modal, .btn:focus {
    outline: none !important;
}

.modal.dark .modal-body {
  background: #40464b;
}

.modal.dark .modal-header {
  background: #2d3032;
  border-bottom: 1px solid #2a2c2e;
}
.modal.dark .modal-header h1, .modal.dark .modal-header h2, .modal.dark .modal-header h3, .modal.dark .modal-header h4 {
  color: #ccc;
}

.modal.dark .modal-footer {
  background: #2d3032;
  border-top: 1px solid #2a2c2e;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.przycisk{
    color:#9d9d9d;
    text-align: center;
}
.przycisk:active{
    color:#f2f2f2;
}
.przycisk:hover{
    text-decoration: none;
    color:#f2f2f2;
    background-color: #080808;
}
@media screen and (max-width: 895px) {
 #shift{
   padding-top:40px;
 }
}
@media screen and (max-width: 767px) {
  body {
    padding-top: 280px;
 }
 #shift{
   padding-top:72px;
 }
 #loggedShift{
   padding-top:88px;
 }
}
